simple-api-call
[{"id":"db957fab.cf414","type":"inject","z":"51c35789.544c","name":"Call","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"uid1\",\"payload\":\"tester1\"}","payloadType":"json","x":290,"y":100,"wires":[["9b7b09ef.62ea5"]]},{"id":"9b7b09ef.62ea5","type":"http request","z":"51c35789.544c","name":"http request (call API)","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://tims-iot.eu-gb.mybluemix.net/limiter","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":100,"wires":[["93b6cd0c.ecc61"]]},{"id":"93b6cd0c.ecc61","type":"debug","z":"51c35789.544c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]}]
