simple-api-call
[{"id":"db957fab.cf414","type":"inject","z":"b3c2873c.aef79","name":"uid1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"uid1\",\"payload\":\"tester1\"}","payloadType":"json","x":250,"y":180,"wires":[["9b7b09ef.62ea5"]]},{"id":"9b7b09ef.62ea5","type":"http request","z":"b3c2873c.aef79","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://tims-iot.eu-gb.mybluemix.net/limiter","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":180,"wires":[["93b6cd0c.ecc61"]]},{"id":"93b6cd0c.ecc61","type":"debug","z":"b3c2873c.aef79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]}]
