trueFalseflow.json
[{"id":"6a4c6efc.54788","type":"http in","z":"51c35789.544c","name":"API Endpoint","url":"/apiv1","method":"post","upload":false,"swaggerDoc":"","x":330,"y":220,"wires":[["fb87cbac.4ce978","5b80e2bd.317844"]]},{"id":"fb87cbac.4ce978","type":"debug","z":"51c35789.544c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"1be2a4b9.50b133","type":"http response","z":"51c35789.544c","name":"API Response","statusCode":"200","headers":{},"x":1080,"y":180,"wires":[]},{"id":"5b80e2bd.317844","type":"switch","z":"51c35789.544c","name":"Handle different call types","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"checkUsage","vt":"str"},{"t":"eq","v":"doSomethingElse","vt":"str"},{"t":"eq","v":"doAnotherThing","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":220,"wires":[["52924438.3b2754","5104da48.7ea1e4","c1042353.eeefe8"],[],[],["1be2a4b9.50b133"]]},{"id":"5104da48.7ea1e4","type":"change","z":"51c35789.544c","name":"Set to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"result\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["1be2a4b9.50b133"]]},{"id":"c1042353.eeefe8","type":"change","z":"51c35789.544c","name":"Set to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"result\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[[]]}]